@page "/employees"
@inject HttpClient ReqClient
@inject NavigationManager NavManager

<PageTitle>Fuel Station - Employees</PageTitle>

<h2>Employees</h2>

<div class=row>

    <button class="btn btn-primary w-25" @onclick="AddItem">Add Employee</button>

</div>
@if (_isLoading)
{
    <p> Loading...</p>
}
else
{
    <EntityList Items=@_employees Context="employee" 
                OnClickDelete="(EmployeeListViewModel employee) => DeleteItem(employee)" 
                OnClickEdit="(EmployeeListViewModel employee) => EditItem(employee)">
        <TableHeader>
            <th>Surname</th>
            <th>Name</th>
            <th>Employee Type</th>
            <th>Salary Per Month</th>
            <th>Date Started</th>
            <th>Date Ended</th>
        </TableHeader>
        <RowTemplate>
            <td>@employee.Surname</td>
            <td>@employee.Name</td>
            <td>@employee.EmployeeType</td>
            <td>@employee.SalaryPerMonth</td>
            <td>@DateOnly.FromDateTime(employee.HireDateStart)</td>
            <td>
                @if (employee.HireDateEnd is not null)
                {
                    @DateOnly.FromDateTime((DateTime)employee.HireDateEnd)
                }
            </td>
        </RowTemplate>
    </EntityList>
}
