@page "/items"
@inject HttpClient httpClient
@inject NavigationManager navManager
@using FuelStation.Blazor.Shared

<PageTitle>Fuel Station - Items</PageTitle>

<h2>Items</h2>

<div class=row>

    <button class="btn btn-primary w-25" @onclick="AddItem">Add Item</button>

</div>
@if (isLoading)
{
    <p> Loading...</p>
}
else
{
    <EntityList Items="items" Context="item"
                OnClickDelete="(ItemListViewModel item) => DeleteItem(item)" 
                OnClickEdit="(ItemListViewModel item) => EditItem(item)">
        <TableHeader>
            <th>Code</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Price</th>
            <th>Item Type</th>
        </TableHeader>
        <RowTemplate>
            <td>@item.Code</td>
            <td>@item.Description</td>
            <td>@item.Cost</td>
            <td>@item.Price</td>
            <td>@item.ItemType</td>
        </RowTemplate>
    </EntityList>
}

@code {
    private List<ItemListViewModel> items = new();
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadItemsFromServer();
        isLoading = false;
    }

    private async Task LoadItemsFromServer()
    {
        items = await httpClient.GetFromJsonAsync<List<ItemListViewModel>>("item");
    }

    protected void AddItem()
    {
        navManager.NavigateTo("/items/edit");
    }

    protected async Task DeleteItem(ItemListViewModel item)
    {
        var response = await httpClient.DeleteAsync($"item/{item.ID}");
        response.EnsureSuccessStatusCode();
        await LoadItemsFromServer();
    }

    protected void EditItem(ItemListViewModel item)
    {
        navManager.NavigateTo($"/items/edit/{item.ID}");
    }
}
