@page "/items/edit/{ID:int?}"
@using FuelStation.Model
@inject HttpClient ReqClient
@inject NavigationManager NavManager

<PageTitle>Fuel Station - Item</PageTitle>

@if (ItemItem == null)
{
    <p>Loading ...</p>
}
else
{
    @*@if (Id == 0)
    {
        <h2>Add new item</h2>
    }
    else
    {
        <h2>Edit @($"{ItemItem.Description}")</h2>
    }*@
    @if (_showingErrorMessages)
    {
        <div class="row">
            <div class="alert alert-info" role="alert">
                <p>There was an error with the input fields.</p>
                <p>Please make sure that you have enter all the values correctly.</p>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-4">
            <label for="item-code">Code</label>
            <input id="item-code" name="item-code" class="form-control" @bind="@ItemItem.Code" placeholder="Item Code Number" />
        </div>
        <div class="col-md-4">
            <label for="item-description">Description</label>
            <input id="item-description" name="item-description" class="form-control" @bind="@ItemItem.Description" placeholder="Item Description" />
        </div>
        <div class="col-md-4">
            <label for="item-type">Type</label>
            <select id="item-type" name="item-type" class="form-select" @bind="ItemType" placeholder="Item Type">
                <option value="-1">Select Item Type</option>
                @foreach (var type in Enum.GetValues(typeof(ItemTypeEnum)))
                {
                    <option value="@((int)type)">@type.ToString()</option>
                }
            </select>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-5">
            <label for="item-cost">Cost</label>
            <input id="item-cost" type="number" name="item-cost" class="form-control" @bind="@ItemItem.Cost" placeholder="Item Cost" min="0"/>
        </div>
        <div class="col-md-5">
            <label for="item-price">Price</label>
            <input id="item-price" type="number" name="item-price" class="form-control" @bind="@ItemItem.Price" placeholder="Item Price" min="0"/>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-6">
            <button class="btn btn-success" @onclick="OnSave">Save</button>
            <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
        </div>
    </div>

}
