@page "/items"
@inject HttpClient ReqClient
@inject NavigationManager NavManager

<PageTitle>Fuel Station - Items</PageTitle>

<!-- <h2>Items</h2> -->

<div class="row">

    <button class="btn btn-primary w-25" @onclick="AddItem">Add Item</button>

</div>
@if (_isLoading)
{
    <p> Loading...</p>
}
else
{
    <EntityList Items="_items" Context="item" Headers=_tableHeaders
                OnClickDelete="(ItemListViewModel item) => DeleteItem(item)" 
                OnClickEdit="(ItemListViewModel item) => EditItem(item)">
        @*<TableHeader>
            <th>Code</th>
            <th>Description</th>
            <th>Cost</th>
            <th>Price</th>
            <th>Item Type</th>
        </TableHeader>
        <RowTemplate>
            <td>@item.Code</td>
            <td>@item.Description</td>
            <td>@item.Cost</td>
            <td>@item.Price</td>
            <td>@item.ItemType</td>
        </RowTemplate>*@
    </EntityList>
}
