@page "/monthlyledger"
@inject HttpClient ReqClient
@inject NavigationManager NavManager

<PageTitle>Fuel Station - Monthly Ledger</PageTitle>

<!-- <h2>Monthly Ledger</h2> -->

<div class="row justify-content-start">
    <div class="col-md-4">
        <input type="date" class="form-control" @bind="LedgerDate" />
    </div>
    <div class="col-md-4">
        <button class="btn btn-primary" @onclick="GetLedger">Get Monthly Ledger</button>
    </div>

</div>
@if (_isLoading)
{
    <p> Loading...</p>
}
else
{
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Income</th>
                    <th>Expenses</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                @if (_ledger is not null)
                {
                    <td>@_ledger.Year</td>
                    <td>@_ledger.Month</td>
                    <td>@_ledger.Income</td>
                    <td>@_ledger.Expenses</td>
                    <td>@_ledger.Total</td>
                }
            </tr>
            </tbody>
        </table>
    </div>
}
